{% extends 'base.html.twig' %}

{% block title %}Edit DepartmentHead{% endblock %}

{% block body %}
  <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Feed required requirements </h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{{path('problem_index')}}" class="btn btn-sm btn-primary">Back</a>
                </div>
              </div>
            </div>
            <div class="card-body">

    {{ include('department_head/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('department_head_index') }}">back to list</a>

    {{ include('department_head/_delete_form.html.twig') }}
{% endblock %}
